<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>

    <script src="./lib/moment-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./lib/peer.js"></script>

    <script src="app.js"></script>
    <script src="factory.js"></script>
    <script src="./app/home/home.js"></script>
    <script src="./app/about/about.js"></script>
    <script src="./app/createEvent/createEvent.js"></script>
    <script src="./app/event/event.js"></script>
    <script src="./app/authentication/authentication.js"></script>
    <script src="./app/userProfile/userProfile.js"></script>
    <script src="./app/event/editevent.js"></script>

    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body ng-app="main" ng-controller="mainCtrl">

<!-- Header Bar start -->
    <div class="headerbar" width="100%">
      <header>
        <div id="logo-and-title">
          <a ui-sref="home">
            <img src="./assets/logo_1.png"/ width="50px" height="50px">
          </a>
          <h1 id="header-title"><a ui-sref="home">Linelevel</a></h1>
        </div>

        <div id="navigation-links">
          <nav>
            <img class="hamburgerIcon" src="./assets/hamburgericon.png" ng-click="showHamburgerMenuNow()">
          </nav>
          <nav>
            <div ng-if="!auth()" class="navLink" ng-click="signIn()">
              SIGN IN
            </div>
          </nav>
          <nav>
            <div ng-if="auth()" class="navLink" ng-click="signOut()">
              SIGN OUT
            </div>
          </nav>
          <nav>
            <div ng-if="auth()" class="navLink" ng-click="goProfile()">
              PROFILE
            </div>
          </nav>
          <nav>
            <div ng-if="auth()" class="navLink">
              <a ui-sref="createEvent">CREATE EVENT</a>
            </div>
          </nav>
          <nav>
            <div class="navLink"><a ui-sref="about">ABOUT</a></div>
          </nav>
          <nav>
            <img ng-if="auth() && notifications.length" class="bellIcon" src="./assets/bell_green.png" ng-click="showNotificationsListNow()">
          </nav>
        </div>
      </header>
    </div>
<!-- Header Bar End -->

<!-- Notifications List Start -->
    <div class="notificationsList" ng-class="{menuDown: showNotificationsList, menuUp: !showNotificationsList}">
      <div ng-repeat="notification in notifications">
        <p>
          <span class="notificationsMessage" ng-click="goNotificationLink($index)">{{notification.message}}</span>
          <span class="deleteNotification" ng-click="deleteNotification($index)">x</span>
        <p>
      </div>
    </div>
<!-- Notifications List End -->

<!-- Hamburger Menu Start -->
    <div class="hamburgerMenu" ng-class="{menuDown: showHamburgerMenu, menuUp: !showHamburgerMenu}">
      <div ng-if="!auth()" class="hamburgerLink" ng-click="signIn()">
        SIGN IN
      </div>
      <div ng-if="auth()" class="hamburgerLink" ng-click="signOut()">
        SIGN OUT
      </div>
      <div ng-if="auth()" class="hamburgerLink" ng-click="hideHamburgerMenu()">
        <a ui-sref="userProfile({userName: userName})">PROFILE</a>
      </div>
      <div ng-if="auth()" class="hamburgerLink" ng-click="hideHamburgerMenu()">
        <a ui-sref="createEvent">ADD EVENT</a>
      </div>
      <div class="hamburgerLink" ng-click="hideHamburgerMenu()">
        <a ui-sref="about">ABOUT</a>
      </div>
    </div>
<!-- Hamburger Menu End -->

<!-- View Insertion Start -->
    <div ui-view></div>
<!-- View Insertion End -->
    
  </body>

</html>
