body{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   padding: 0px;
   margin: 0px;
   color: black;
   height: 100%;
   background: linear-gradient(to bottom, white, white, #E6E6E6);
   background-attachment: fixed;
}

@media (min-width: 700px){
  .container{
    padding: 65px 5% 0 5%;
    width: 80%;
  }
}

.container{
  padding: 60px 2% 0 2%;
  margin-right: auto;
  margin-left: auto;
}

.line{
  position: relative;
  top: -30px;
  width: 100%;
  height: 1px;
  background-color: black;
}

a{
  color:black;
}

h1{
  display:inline-block;
  font-size: 36px;
  margin-top: 5px;
  padding-left: 15px;
}

h2{
  color: #9FA3A3;
}

ul{
  list-style-type: none;
}


/******************************
  General button styling 
******************************/

button{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline-block;
  margin: auto;
  padding: auto;
  font-size: 14px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  background-color: #7CDFCE;
  color: #fff;
  box-shadow: inset 0 0 0 0px;
  outline: none;
}

button:disabled{
  background-color: #6BC4B4;
  color: #DAD7D9;
}

button:enabled:hover{
  background-color: #80EBD8;
}

button:active, button:hover:active{
  background: #4BBF9E;
}

/******************************
  Genres list styling 
******************************/

.genreList{
  padding: 10px;
  flex-basis: auto;
  margin: 25px;
  padding-left: 0;
  margin-left: 0;
}

@media (max-width: 700px){
  .genreList{
    padding-right: 0;
    margin-right: 0;
  }
}

.selected {
  color: #000000;
}

.notSelected {
  color: #B5B5B5;
}


/******************************
  Dropdown styling 
******************************/

.dropDownLink{
  cursor: pointer;
}

.dropDownLink img{
  width: 20px;
  margin: 0 0 2px 5px;
}

.dropDownMenu{
  position: absolute;
  background-color: #D6D6D6;
  padding: 10px;
  z-index: 3;
}

.dropDownMenu li{
  cursor: pointer;
}


/******************************
  Header styling 
******************************/

header{
  width: 100%;
  height: 40px;
  background-color: #000000;
  padding-left: 10px;
  color:white;
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  top: 0px;
  left: 0px;
  z-index: 9999;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

header a:visited, header a:link, header a:active{
  color: white;
  text-decoration: none;
}

header a:hover{
  color: white;
}

#logo-and-title{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
}

#header-title{
  display:inline-block;
  font-size: 36px;
  padding-bottom: 5px;
  padding-left: 10px;
  position: absolute;
}

nav{
  margin: 0px;
  float: right;
  display:inline-block;
}
.navigation-links{
  float:right;
}

.navLink{
  height: 30px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  line-height: 30px;
  cursor: pointer;
}

.navLink a{
  color: white;
}

.navLink:hover{
  text-decoration: none;
  background-color: #5A585B;
}

.bellIcon{
  width: 20px;
  margin-right: 18px;
  margin-top: 9px;
  cursor: pointer;
}

.hamburgerIcon{
  width: 30px;
  margin-right: 18px;
  margin-top: 9px;
  cursor: pointer;
}

/******************************
  Notifications list styling 
******************************/

.notificationsList{
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.notificationsList{
  position: fixed;
  z-index: 10;
  top: 5px;
  right: 0px;
  padding: 40px 5% 25px 5%;
  margin: 0;
  text-align: right;
  font-size: 16px;
  color: white;
}

.notificationsMessage{
  margin: 15px 0;
  cursor: pointer;
}

.deleteNotification{
  font-weight: 900;
  color: red;
  margin-left: 20px;
  cursor: pointer;
}

.deleteAllNotifications{
  color: red;
  margin-top: 250px;
  cursor: pointer;
}

.menuUp .notificationsMessage, .menuUp .notificationsMessage a, .menuUp .deleteNotification, .menuUp .deleteAllNotifications{
  opacity: 0;
  pointer-events: none;
}


/******************************
  Hamburger menu styling 
******************************/

.hamburgerMenu, .hamburgerLink, .hamburgerLink a{
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.hamburgerMenu{
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 0px;
  padding: 5%;
  text-align: right;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

.menuDown{
  background-color: rgba(0,0,0,0.8);
  max-height: 1000px;
  overflow-y: hidden;
}

.menuUp{
  max-height: 0px;
  overflow-y: hidden;
}

.menuUp .hamburgerLink, .menuUp .hamburgerLink a{
  color: rgba(124, 223, 206, 0);
  display: none;
}

.menuDown .hamburgerLink, .menuDown .hamburgerLink a{
  color: rgba(124, 223, 206, 1);
  display: visible;
}

.hamburgerLink{
  text-decoration: none;
  font-size: 45px;
  line-height: 2em;
  cursor: pointer;
}

.hamburgerLink a{
  color: fuchsia;
  text-decoration: none;
}

@media (min-width: 700px){
  .hamburgerIcon, .hamburgerMenu, .hamburgerLink{
    display: none;
  }
}

@media (max-width: 700px){
  .navLink{
    display: none;
  }
}


/******************************
  About page styling 
******************************/

.about{
  width: 100%;
  height: 100%;
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
  color: white;
  font-weight: 900;
}

@media (max-width: 700px){
  .about{
    padding-top: 100px;
    font-size: 30px;
  }
}

#homeSection1{
  background-image: url("../assets/djshow.jpeg");
  background-size: auto 100%;
}

#homeSection1 .aboutText{
  padding: 0.125% 2%;
  background-color: rgba(0,0,0,0.75);
}

#homeSection2{
  background-color: #BEE8E6;
  background-size: 100%;
}

#homeSection3{
  background-image: url("../assets/crowdhands.jpg");
  background-size: auto 100%;
}

#homeSection4{
  background-color: #E8D9C2;
  background-size: 100%;
}


/******************************
  Form styling 
******************************/

input{
  width: 200px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #C1C1C1;
  color: #C1C1C1;
  margin: 5px;
  padding-left: 10px;
  outline: none;
  transition: .5s;
}

input:focus{
  border: 1px solid black;
}

#createEventForm, #signUpForm, #signInForm{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
}

#signInForm{
  text-align: center;
}

form{
  margin: auto;
}

@media (min-width: 700px){
  form{
    width: 400px;
  }
}

.formItem{
  flex-basis: auto;
  padding: 10px;
  margin: auto;
}

.formInputs{
  flex-basis: auto;
  margin-left: 25px;
}

.submitbutton{
  flex-basis: auto;
  padding: 10px;
  margin: 25px;
}

#createEventButton{
  width: 150px;
  height: 30px;
}

.forgot-password{
  text-align: normal;
  font-size: 12px;
}

#signup{
  margin-top: 10px;
  text-align: normal;
  font-size: 12px;
}

.clear{
  clear:both;
}

.create-event-checkbox{
  height: 20px;
  width: 20px;
  padding: 0; 
  border: 0;
  margin: 0;
}


textarea{
  width: 200px;
  height: 175px;
  border-radius: 3px;
  border: 1px solid #C1C1C1;
  color: #C1C1C1;
  margin: auto;
  outline: none;
  transition: .5s;
}


/******************************
  Event styling 
******************************/

.pageTitle{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

#video-content{
  display: inline-flex;
  flex-flow: row nowrap;
}

#genreNames{
  font-style: italic;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  top: -25px;
  padding-left: 15px;
  position: relative;
  font-size: 14px;
}

#eventHost{
  position: relative;
  top: 17px;
  padding-left: 8px;
}

#eventHostName{
  text-decoration: bold;
  font-size: 24px;
  font-family: Helvetica-bold;
}

.videoSettings{
  border: 1px solid black;
  width: 25px;
  height: 390px;
  border-radius: 5px;
  margin: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  background-color: black;
}

.video-setting{
  border-bottom: 1px solid white;
  background-color: white;
  height: 25px;
}
.video-setting:hover{
  background-color: #80EBD8;
}
.video-setting:active{
  background-color: #6BC4B4;
}

#eventcontent{
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#videoWrapper{
  border: 1px solid #c1c1c1;
  position: relative;
}

#videostream{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 56.25%;
  background: #D2CCD3;
  border: 1px solid black; 
  margin: 0px;
  position:relative;
}

#countDown{
  height: 20%;
  width: 100%;
  text-align: center;
  top: 40%;
  position: absolute;
}

.stream-button{
  cursor: pointer;
}

#stop-stream-button{
  background-color: #E69F9D;
}

/******************************
  Chat styling 
******************************/

.chat-section, .chat-participants{
  display: inline-block;
  height: 456px;
}

.chat-section{
  width: 100%;
  max-width: 330px;
}

.chat-participants{
  width: 30%;
  max-width: 100px;
  float: right;
  border: 1px solid #c1c1c1;
  height: 420px;
  background:white;
}

.participant-entry{
  padding-left: 5px;
}

.chat-submit{
  max-width: 330px;
}


#chat-content{
  min-width: 300px;
  max-width: 450px;
  height: 30vw;
  height: 456px;
  flex-grow: 1;
  margin: 20px;
}

#chatToggle{
  padding-top: 25px;
  display: inline-flex;
}

#hideChat{
}

#showChat{
  display:none;
}

.chat-tabs-selected{
  background: #c1c1c1;
  color: white;
}

.chat-tabs, .participants-title{
  display: inline-block;
  width: 100px;
  text-align: center;
  border: 1px solid #c1c1c1;
  border-bottom: none;
  padding: 0px;
  margin: 0px;
  font: bold;
  cursor: pointer;
}

.participants-title{
  border: none;
  border-bottom: 1px solid #c1c1c1;
  background: none;
}


#chatMessages, #hostMessages, #adminControls{
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  width: 100%;
  margin: auto;
  height: 400px;
  font-size: 12px;
  padding-left: 5px;
  overflow-y: auto;
}

#adminControls{
  overflow-x: hidden; 
  height: 90%;
}

.timestamp{
  color: #aaa;
}

.message{
  margin-top: 5px;
}

.message-host{
  background: rgba(124, 223, 206,.5);
  color: #777;
}

.message-user, .message-user a{
  color: rgba(60,110,210,1);
}

.message-user>.timestamp{
  color: rgba(60,110,210,.7);
}

.chat-username{
  text-decoration: none;
}

#chatTextBox{
  max-height: 2em;
  width: 100%;
  margin: 3% 0 10px 0;
  outline: none;
  transition: .5s;
}

.private-event-message, .event-status, .admin-tab-message{
  padding-top: 150px;
  text-align: center;
  font-size: 2em;
}

.event-status, .admin-tab-message{
  padding-top: 15px;
  font-size: 1.5em;
}

.admin-tab-message{
  padding-top: 5px;
}

.invited-users{
  border: 1px solid gray;
  margin-left: 10px;
  padding-left: 20px;
  width: 50%;
  font-size: 1.2em;
}

.invited-users-title{
  text-align: center;
  font-size: 1.4em;
}

.whitelist-remove-user{
  display: inline-block;
  height: 15px;
  width: 15px;
  background: rgba(124, 223, 206,.8);
  color: white;
  border-radius: 100%;
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
}

.whitelist-remove-user:hover{
  background: rgba(124, 223, 206,.5);
  color: black;
}

.whitelist-remove-user:hover:active{
  background: rgba(104, 203, 186,.8);
  color: black;
}


/******************************
  Home page styling 
******************************/

#event-title{
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  width: 100%;
}

#event-title a{
  text-decoration: none
}

#event-title a:hover{
  text-decoration: underline;
}

#topHomeSection{
  max-width: 600px;
  margin: 0 auto;
}

@media(max-width: 700px){
  #topHomeSection{
    max-width: 300px;
  }  
}

.eventTabs{
  padding-bottom: 10px;
}

@media (min-width: 700px){
  .eventTabs{
    margin: 15px;
  }
}

.eventTab{
  padding: 10px;
}

@media (max-width: 700px){
  .eventTab{
    font-size: 11px;
  }
}

.borderExtension{
  color: white;
  width: 100%;
  padding-right: 195px;
  border-bottom: 1px solid #C1C1C1;
  padding-bottom: 10px;
}

@media (max-width: 800px){
  .borderExtension{
    display: none;
  }
}

.selectedView{
  border: 1px solid #C1C1C1;
  border-bottom: white;
}

.notSelectedView{
  color: #C1C1C1;
  border-bottom: 1px solid #C1C1C1;
  cursor: pointer;
}

.filterLabel{
  margin: 18px 0 0 36px;
}

.filterOptions{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: 18px;
}

.dateFilter{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 17px 0 0 2px;
}

@media (min-width: 700px){
  .onlyOnMobile{
    display: none;
  }
}

@media(max-width: 700px){
  .hideOnMobile{
    display: none;
  }
}

.mobile-admin{
  margin: 10px;
}

.dateSelection{
  margin-top: 5px;
}

.filterTextBoxes{
  margin-top: 22px;
}

.filterInput{
  margin-right: 30px;
}

.event{
  margin: 20px 0px 0px 0px;
  width: 175px;
  height: 175px;
  background-size: 100%;
  overflow: hidden;
  position:relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.event button{
  width: 23px;
  height: 23px;
  padding: 0px;
  line-height: 0px;
  font-weight: 800;
  color: white;
  border-color: white;

}

.event button:hover{
  color: black;
  text-shadow:     
  -1px -1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  1px 1px 0 #FFFFFF;
}

#event-details{
  border: 1px solid #CDCDCD;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 163px;
  padding: 5px;
}

.event-info-category{
  font-weight: bold;
}

.eventBackdrop{
  background-color: black;
  height: 175px;
  width: 175px;
  position: absolute;
  top: 150px;
  opacity: .50;
  filter: alpha(opacity=50);
  transition: 1s;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#event-host{
  text-align: center;
  margin-top: 3px;

}
#event-host a{
  font-weight: 800;
  font-size: 12px;
  color: #505050;
}

#event-host a:hover{
  color: black;
}

#event-arrow{
  position: relative;
  left: -5px;
  
}

.eventInfo{
  height: 175px;
  width: 175px;
  overflow: auto;
  color: white;
  position: absolute;
  top: 150px;
  transition: 1s;
  z-index: 2;
  font-size: 14px;
  padding: 10px;
}

.eventInfo a{
  color: white;
}

.eventInfo p{
  opacity: 1;
  filter: alpha(opacity=100);
}

#event-rsvp{
  z-index: 3;
  width: 100%;
  height: 25px;
  position: relative;
}

.hostAndRSVP{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.eventThumb{
  height: 100px;
  width: 100px;
  background-size: 100%;
  margin: 15px;
}

.eventThumb img{
  height: 100px;
  width: 100px;
}

.eventList{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.eventsBtn{
  width: 100%;
}

.endOfResults, .showMoreEvents{
  text-align: center;
  padding: 60px;
}

.showMoreEvents{
  cursor: pointer;
}

.fade-list.ng-enter {
  /* standard transition code */
  transition: .25s linear all;
  opacity:0;
}

.fade-list.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.0s;

  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}

.fade-list.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}

.fade-list.ng-leave {
    transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.fade-list.ng-leave.ng-leave-active {
  opacity:0;
  height: 0px;
}


/******************************
  User profile styling 
******************************/

#following{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  width: 10%;
  text-align: center;
  margin-left: 50px;
}

.rsvp{
  border: 1px solid;
  cursor: pointer;
}

#userContent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

#userInfo{
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

#userInfo img{
  height: 180px;
  max-width: 180px;
  margin: 10px auto;
  border-radius: 50%;
  overflow-y: scroll;
}

.profileInfo{
  padding: 5px 20px;
}

#userFeed{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  text-align: center;
}

#userFeed a{
  text-decoration: none;
  color: white;
}

#userWall{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  min-width: 350px;
  max-width: 500px;
}

.user-wall-input{
  max-width: 300px;
}

.reserved-events{
  padding: 10px;
  padding-left: 20px;
  background: linear-gradient(to left, #485563, #29323c);
  border-radius: 7px;
  margin: 2px;
}
.reserved-events:hover {
  background: orange;
}

.wall-author, .wall-message{
  display: inline-block;
  vertical-align: top;
  min-height: 90px;
  background: black;
  text-align: center;
}

.wall-message{
  width: 70%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #c0c0c0;
}

.wall-author, .wall-author a{
  text-decoration: none;
  width: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.wall-author img{
  padding: 15px;
  padding-bottom: 5px;
  margin: 0;
  width: 50px;
  height: 50px;
}

.wall-message-header, .wall-message-header a{
  text-align: left;
  margin-top: 10px;
  padding-left: 15px;
  text-decoration: none;
}

.wall-message-text{
  text-align: left;
  padding: 5px;
  padding-left: 15px;
  font-size: .8em;
  color: #333;
}

.profile-following, .profile-following a{
  background: black;
  padding: 5px;
  text-decoration: none;
  margin: 1px;
  color: white;
}

.profile-following a:hover {
  background: orange;
}
.profile-following:hover {
  background: orange;
}






