body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   padding: 0px;
   margin: 0px;
   color: black;
   height: 100%;
}



header{
  width: 100%;
  height: 40px;
  background-color: #000000;
  padding-left: 10px;
  color:white;
}

header a:visited, header a:link, header a:active{
  color: white;
  text-decoration: none;
}

header a:hover{
  color: white;

}

h2{
  color: #9FA3A3;
}

.signIn{
  width: 70px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  line-height: 30px;
}
.signIn:hover{
  text-decoration: underline;
  background-color: #5A585B;
}

#signInPage{
  text-align: center;
  vertical-align: middle;
  height: 100%-40px;
  z-index:1002;

}

.forgot-password{
  text-align: normal;
  font-size: 12px;
}
#signInButton{
  background-color: #7CDFCE;
  width: 175px;
  height: 35px;
  border-radius: 3px;
  text-align: center;
  line-height: 35px;
  margin: auto;
  margin-top: 10px;
  color: white;
  text-decoration: bold;
}

#signup{
  margin-top: 10px;
  text-align: normal;
  font-size: 12px;
}


fieldset{
  border: 0px;
  line-height: normal;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background:white;
  z-index: 1002;
}

input{
  width: 175px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #C1C1C1;
  color: #C1C1C1;
  margin: 5px;
}

h1{
  display:inline-block;
  font-size: 36px;
  margin-top: 5px;
}

nav {
  margin: 0px;
  float: right;
  display:inline-block;
}


.selected {
  color: green;
}

.notSelected {
  color: black;
}

ul {
  list-style-type: none;
}

.black_overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:-1;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

/*.white_content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index:1002;
  overflow: auto;
}*/

