<section ng-controller="userProfileController">
   <div class="container">
    <div class="pageTitle">
      <div style="display:flex; flex-flow: row nowrap">
      <h1>{{userName}}</h1>
      <button ng-click="followUser()" style="position:relative;left: 20px; top: -10px">Follow</button>
      </div>
      </div>
      <div class="line"></div>
    <div id="genreNames">
      <div ng-repeat="genre in uData.genres"> {{genre}}<span ng-if="$index !== uData.genres.length-1">, &nbsp;</span> </div>
    </div>

    <div id="userContent">

      <div id="userInfo" >
        <img src="{{uData.image}}">
        <div class="profileInfo"><b>{{uData.username}}</b></div>
        <div class="profileInfo"> {{uData.firstname}}&nbsp;{{uData.lastname}} </div>
        <div class="profileInfo"> {{uData.email}} </div>

        <!-- User feed -->
        <div id="userFeed">
          <h2>Events</h2>
          <div ng-repeat="(key, event) in uData.myEvents[0] track by $index">
            <div class="reserved-events">
              <a href="#/event/{{key}}">{{event.title}}</a><br>
              <a ui-sref="userProfile({userName: event.host})">{{event.host}}</a>
            </div>
          </div>
        </div>
      </div>


      <!-- Wall Section -->
      <div id="userWall">
        <div >
          <form name="submitMessage" ng-submit="submitWallMsg()">
            <input class="user-wall-input" type="text" placeholder="Enter your message..." ng-model="wallText" id="chatTextBox">
          </form>
        </div>

        <div ng-repeat="message in uData.myWall" class="message">
          <div class="wall-author">
            <img src="{{message.image}}">
          </div><!--
       --><div class="wall-message">
            <div class="wall-message-header">
              <a ui-sref="userProfile({userName: message.username})"><b>{{message.fullname}}</b>&nbsp;&nbsp;@{{message.username}}</a>&nbsp;&nbsp;
              <span ng-bind="getTimeStamp(message.timestamp)"></span>
            </div>
            <div class="wall-message-text" ng-bind="message.message"></div>
          </div>
        </div>

      </div>

       <!-- followers section -->
      <div id="following">
        <h2>Following</h2>
        <div ng-repeat="(name,value) in following" class="profile-following">
          <a href="#/userProfile/{{name}}" ng-bind="name"></a>
        </div>
      </div>

  </div>
</section>