<section ng-controller="userProfileController">
   <div class="container">
    <div class="pageTitle">
      <div style="display:flex; flex-flow: row nowrap">
      <h1>{{userName}}</h1>
      <button ng-click="followUser()" style="position:relative;left: 20px; top: -10px">Follow</button>
      </div>
      </div>
      <div class="line"></div>
    <div id="genreNames">
      <div ng-repeat="genre in uData.genres"> {{genre}}<span ng-if="$index !== uData.genres.length-1">, &nbsp;</span> </div>
    </div>

    <div id="userContent">
      <div id="userInfo" >

        <img src="{{uData.image}}">
        <div class="profileInfo">
        Username: {{uData.username}}
        </div>
        <div class="profileInfo">
        Firstname: {{uData.firstname}}
        </div>
        <div class="profileInfo">
        Lastname: {{uData.lastname}}
        </div>
        <div class="profileInfo">
        Email: {{uData.email}}
        </div>
      </div>

      <!-- User feed -->
      <div id="userFeed">
      <h2>
        Events
      </h2>
        <div ng-repeat="(key, event) in uData.myEvents[0] track by $index">
          <button class="rsvp eventsBtn" >
          <a href="#/event/{{key}}">{{event.title}}</a> by 
          <a href="#/userProfile/{{event.host}}">{{event.host}}</a>
          </button>
        </div>
      </div>

      <!-- Wall Section -->
      <div id="userWall">
        <h2>Wall</h2>

        <div>Anonymous: asdfasdf</div>
        <div>Anonymous: asdfasdf</div>
        <div>Anonymous: asdfasdf</div>
        <div>Anonymous: asdfasdf</div>

        <textarea></textarea>
        <button>Submit</button>
      </div>

       <!-- followers section -->
      <div id="following">
      <h2>Following</h2>
        <div ng-repeat="user in followers track by $index">
        <a href="#/userProfile/{{user.username}}">{{user.username}}</a>
        </div>
      </div>

  </div>
</section>