<section ng-controller="userProfileController">
   <div class="container">
    <div class="pageTitle">
      <div style="display:flex; flex-flow: row nowrap">
      <h1>{{userId}}</h1>
      </div>
      </div>
      <div class="line"></div>
    <div id="genreNames">
      <div ng-repeat="genre in event.genres"> {{genre.name}}<span ng-if="$index !== event.genres.length-1">, &nbsp;</span> </div>
    </div>

    <div id="userContent">
      <div id="userInfo">
      </div>
      <div id="userFeed">
      </div>
  </div>
</section>