<section ng-controller="authController" class="popUp">
  <fieldset>
    <div class="sign-up-title"><h2>Sign up with LineLevel</h1></div>
    <div class="form-group">
      
      <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstname" placeholder="First Name">
    </div>
    <div class="form-group">
      
      <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
    </div>

    <div class="form-group">
      
      <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
    </div>
    <div class="form-group">
      
      <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
    </div>
        <div class="form-group">
      
      <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
    </div>
      <div id="divButton" ng-click="signUp()">
      Sign Up
      </div>
    </div>
    
    
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
    <div id="fade" class="black_overlay">
  </fieldset>
</section>