<section ng-controller="authController">

  <form name="signupForm" ng-submit="signIn()" novalidate>
    <div class="sign-up-title"><h2>Sign into LineLevel</h1></div>

    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">

    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">

    <div class="forgot-password">
      <a href="/#!/password/forgot">Forgot your password?</a>
    </div>

    <button ng-type="submit">Sign In</button>

    <div id="signUp">Don't have an account? 
      <a ui-sref="signup">Sign up</a>
    </div>
    
    
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>

  <div id="fade" class="black_overlay"></div>
</section>
