<section class="popUp">
<div id="fade" class="black_overlay">
</div>
  <fieldset>
    <div class="sign-up-title"><h2>Sign into LineLevel</h1></div>
    <div class="form-group">
      
      <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
    </div>
    <div class="form-group">
      
      <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
    </div>
    <div class="text-center form-group">
    <div class="forgot-password">
      <a href="/#!/password/forgot">Forgot your password?</a>
    </div>
      <div id="divButton" ng-click="signIn()">
      Sign In
      </div>
      <div id="signUp">Don't have an account? 
        <a ui-sref="signup">Sign up</a>
        </div>
    </div>
    
    
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
    
  </fieldset>
</section>