<section ng-controller="authController" class="popUp">

  <form name="signupForm" ng-submit="signUp()" novalidate>
    <div class="sign-up-title"><h2>Sign up with LineLevel</h1></div>
      
    <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstname" placeholder="First Name">
      
    <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">

      
    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
      
    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
      
    <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">

    <button ng-click="signUp()">Sign Up</button>
    
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>

  <div id="fade" class="black_overlay">
</section>
