<section ng-controller="eventController">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <div ng-if="showEvent()">Secret Div!</div>
  <div class="container" ng-if="event.showEvent">

    <div class="pageTitle">
      <div style="display:flex; flex-flow: row nowrap">
        <h1>{{event.name}}</h1>
        <div id="eventHost">
          hosted by <a id="eventHostName" ui-sref="userProfile({userName: event.host})">{{event.host}}</a>
        </div>
      </div>
    </div>

    <div class="line"></div>
    <div id="genreNames">
      <div ng-repeat="genre in event.genres">{{genre}}<span ng-if="$index !== event.genres.length-1">, &nbsp;</span> </div>
    </div>

    <!-- host admin panel for setting up the stream -->
    <!-- can we call the method on the factory? might need to set that method in the scope to call it here -->


    <div ng-show="!isSameUser" class="mobile-admin onlyOnMobile">
      <button class="stream-button" ng-click="loadStream();">Load Stream</button>
      <button class="stream-button" ng-click="toggleChat();">Hide Chat</button>
      <button class="stream-button" ng-click="people();">Hide Participants</button>
    </div>
    <div ng-show="isSameUser" class="mobile-admin onlyOnMobile">
      <button class="stream-button" ng-click="editEvent();">Edit Event</button>
      <button class="stream-button" ng-click="toggleChat();">Hide Chat</button>
      <button class="stream-button" ng-click="people();">Hide Participants</button>
    </div>
    
    <div id="eventcontent">
    <!-- For admin video settings -->
      <div id="video-content">
        <div class="videoSettings hideOnMobile" ng-show="isSameUser">
          <div class="video-setting" ng-click="startStream()">
            <img src="../assets/controls/stream.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="stop(1)">
            <img src="../assets/controls/stop.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="editEvent()">
            <img src="../assets/controls/edit.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="people()">
            <img src="../assets/controls/people.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="toggleChat()">
            <img src="../assets/controls/chat.png" width="25px" height="25px"/>
          </div>
        </div>
        <!-- For regular user -->
        <div class="videoSettings hideOnMobile" ng-show="!isSameUser">
          <div class="video-setting" ng-click="play()">
            <img src="../assets/controls/play.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="stop(0)">
            <img src="../assets/controls/stop.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="volumeUp()">
            <img src="../assets/controls/volume_up.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="volumeDown()">
            <img src="../assets/controls/volume_down.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="mute()">
            <img src="../assets/controls/mute.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="people()">
            <img src="../assets/controls/people.png" width="25px" height="25px"/>
          </div>
          <div class="video-setting" ng-click="toggleChat()">
            <img src="../assets/controls/chat.png" width="25px" height="25px"/>
          </div>
        </div>

        <div id="videoWrapper">
          <div ng-if="showCountDown" id="countDown" ng-bind="countDown"></div>
          <video id="myVideo" muted="false" class="myVideo" autoplay ng-show="isSameUser" width="640" height="390"></video>
          <video id="theirVideo" defaultMuted="false" class="theirVideo" autoplay ng-show="isSameUser == false" width="640" height="390"></video>
          <!-- <div id="ytplayer"></div>
          <span class="video"></span> -->
        </div>

      </div>
      <div id="chat-content" ng-show="chatVisible">
        <div class="chat-section">
          <div id="chat-tabs">
            <div class="chat-tabs" ng-class="{'chat-tabs-selected':selectedChat[0]}" ng-click="selectTab(0)">All</div><!--
         --><div class="chat-tabs" ng-class="{'chat-tabs-selected':selectedChat[1]}" ng-click="selectTab(1)">Host</div><!--
         --><div ng-show="isSameUser" class="chat-tabs" ng-class="{'chat-tabs-selected':selectedChat[2]}" ng-click="selectTab(2)">Admin</div>
          </div>

          <div ng-hide="!selectedChat[0]" id="chatMessages">
            <div ng-repeat="message in event.messages" class="message" ng-class="{'message-host': isHost(message), 'message-user': isUser(message)}">
              <div class="timestamp" ng-bind="chatTime(message.timestamp)"></div><a class="chat-username" ui-sref="userProfile({userName: message.username})"><b>{{message.username}}: </b></a> {{message.message}}
            </div>
          </div>

          <div ng-hide="!selectedChat[1]" id="hostMessages">
            <div ng-repeat="message in event.hostMessages" class="message"><div ng-bind="chatTime(message.timestamp)"></div><a class="chat-username" ui-sref="userProfile({userName: message.username})"><b>{{message.username}}: </b></a> {{message.message}}</div>
          </div>

          <div ng-hide="!selectedChat[2]" id="adminControls">
            <div class="event-status" ng-bind="eventStatus()"></div>
            <div class="admin-tab-message" ng-bind="adminTabMessage"></div>
            <div ng-show="event.private" class="allowed-users">

              <form class="admin-invite">
                <input type="text" placeholder="Invite user" ng-model="invitedUser"> 
                <button ng-click="addToWhiteList()">Send Invite</button>
              </form>

              <div class="invited-users">
                <div class="invited-users-title">Invited Users</div>
                <div ng-repeat="(name,allowed) in event.allowedUsers"><div class="whitelist-remove-user" ng-click="removeUserFromWhiteList(name)">x</div>&nbsp;&nbsp;<a ui-sref="userProfile({userName: name})">{{name}}</a></div>
              </div>
            </div>

          </div>

          <div> 
            <form class="chat-submit" name="submitMessage" ng-submit="sendMessage()" ng-hide="selectedChat[2]">
              <input type="text" placeholder="Enter your message..." ng-model="userText" id="chatTextBox">
            </form>
          </div>
        </div>

        <div class="chat-participants">
          <div class="participants-title">Participants</div>
          <div class="participant-entry" ng-repeat="(key,user) in participants" ng-bind="key" ng-if="showParticipant(user)"></div>
        </div>
      </div>

        

    </div>
  </div>
  <div ng-if="!event.showEvent" class="container private-event-message">This event is private!
    <div ng-if="event.followersOnly">Follow <a ui-sref="userProfile({userName: event.host})">{{event.host}}</a> to join this event!</div>
    <div ng-if="!event.followersOnly">Only those invited by <a ui-sref="userProfile({userName: event.host})">{{event.host}}</a> may participate in this event.</div>
  </div>
</section>