<section ng-controller="eventController">

  <div class="container">
    <div class="pageTitle">
      <div style="display:flex; flex-flow: row nowrap">
      <h1>{{event.name}}</h1>
        <div id="eventHost">
          hosted by <span id="eventHostName">{{event.host}}</span> Access Token: {{accessToken}}
        </div>
      </div>
      <div id="chatToggle">
        <div id="showChat"><a href="javascript:void(0)" onclick="document.getElementById('hideChat').style.display='block';document.getElementById('showChat').style.display='none'" ng-click="toggleChat()">Show Chat</a></div>
        <div id="hideChat"><a href="javascript:void(0)" onclick="document.getElementById('showChat').style.display='block';document.getElementById('hideChat').style.display='none'" ng-click="toggleChat()">Hide Chat</a></div>
      </div>
    </div>
      <div class="line"></div>
    <div id="genreNames">
          <div ng-repeat="genre in event.genres"> {{genre.name}}<span ng-if="$index !== event.genres.length-1">, &nbsp;</span> </div>
        </div>

    <div id="eventcontent">
    <div id="videoWrapper">
      <button ng-click="auth();">Authorize</button>
      <button ng-click="getUserChannel();">GetChannelName</button>
      <button ng-click="getVideo();">GetStreamingVideoId</button>
<div id="ytplayer"></div>
<span class="video"></span>
<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByClassName('video')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '390',
      width: '640',
      videoId: 'M7lc1UVf-VE'
    });
  }


      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('ytplayer', {
          height: '390',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
<!--     <a ng-hide="{{accessToken != null}}" href="https://accounts.google.com/o/oauth2/auth?
client_id=43388747005-isrtg2iv8558roqeakpu536dta5i8p71.apps.googleusercontent.com&
redirect_uri=http%3A%2F%2Flocalhost:8000%2Fapp%2Foauthcallback%2Foauthcallback.html&
scope=https://www.googleapis.com/auth/youtube&
response_type=token">Auth to start stream</a>
<a ng-show="{{accessToken != null}}}" ng-click="startStream()">Start Stream</a> -->
<!--       <div id="videostream">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qa2QMn7T6gk" frameborder="0" allowfullscreen></iframe>
      </div> -->
    </div>
      <div id="chatcontent" ng-show="chatVisible">
        <div id="chatMessages">
          <div ng-repeat="message in event.messages" class="message"><b>{{message.username}}:</b> {{message.message}}</div>
        </div>
        <textarea id="chatTextbox" ng-model="userText"></textarea>
        <br>
        <div id="sendButton" ng-click="sendMessage()">
        <button>Send</button>
        </div>
      </div>
    </div>
  </div>
</section>