<section ng-controller="createEventController">
  <h1>Create an Event</h1>
  <form name="createEventForm" ng-submit="submitCreateEventForm()" novalidate>
    <input type="text" placeholder="event title" ng-model="eventTitle" required>
    <input type="text" placeholder="description" ng-model="eventDescription" required>
    <input type="url" placeholder="url to cover image" ng-model="eventImage">
    <input type="text" placeholder="record label" ng-model="eventLabel">
    <!-- search box for easily finding the right genre from the list?
    <input type="text" placeholder="genre" ng-model="eventGenre">
    -->
    <div class="dropdown">Please choose one or more genres</div>
    <ul>
      <li ng-repeat="genre in genres" ng-click="chooseGenre(genre)" ng-class="{'selected': genre.selected, 'notSelected': !genre.selected}">{{genre.name}}</li>
    </ul>

    <button type="submit" ng-disabled="createEventForm.$invalid">Create event</button>
  </form>
</section>


<!--
  Event: {  //might not work the best
    Title: "SoundStorm Music Release",
    Date: Date()(includes time),
    Description: "Lorem",
    ImageUrl: "",
    Host: "",
    Genre: "",
    Label: "",
  }
-->
