<section ng-controller="homeController">

  <div class="container">
    <div class="eventTabs">
      <span ng-click="viewFutureEvents()" ng-class="{selectedView: futureView, notSelectedView: !futureView}" class="eventTab">
        Upcoming events
      </span>
      <span ng-click="viewPastEvents()" ng-class="{selectedView: !futureView, notSelectedView: futureView}" class="viewPastEvents eventTab">
        Past events
      </span>
      <span class="borderExtension">
        .
      </span>
    </div>


    <div class="filterOptions">
      <div class="genreList">
        <div ng-click="showGenresNow()">Filter by genre</div>
        <ul class="dropDownMenu" ng-if="showGenres">
          <li ng-repeat="genre in genres" ng-click="chooseGenre(genre)" ng-class="{'selected': genre.selected, 'notSelected': !genre.selected}">{{genre.name}}</li>
        </ul>
      </div>

      <div class="filterTextBoxes">
        <input type="text" placeholder="Filter by title" ng-model="filterByTitle" ng-model-options="{debounce: {'default': debounce}}">
        
        <input type="text" placeholder="Filter by user" ng-model="filterByUser" ng-model-options="{debounce: {'default': debounce}}">
      </div>
    </div>

    <div class="eventList">
      <div ng-repeat="event in filteredEvents(events) | orderBy: 'date': true" class="event" style="background-image: url({{event.image}})" mouse-over>

        <div class="eventInfo">

          <p><a href="#/event/{{event.key}}">{{event.title}}</a></p>
          <p><span ng-repeat="genre in event.genre">
            {{genre}}
          </p>
          <p>{{event.date | date: 'short'}}</p>
        </div>
        <div class="eventBackdrop"></div>
      </div>
    </div>
  </div>
</section>